## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Secrets
appsettings.Development.json
secrets.json

## Visual Studio
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Others
*.log
*.db
*.sqlite